{% extends 'home.html' %}
{% block content %}
<main class="container-fluid">
    {% if user.is_authenticated %}
    <div class="table-responsive mw-100">
    <h1>Records</h1>
    <style>
        .table { table-layout: fixed; }
        .table td, .table th { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100%; }
        @media (max-width: 100%) { .table td, .table th { white-space: normal; } }
    </style>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Pincode</th>
                <th scope="col">Created at</th>
            </tr>
        </thead>
        <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                        <td>{{ record.first_name }}{{ record.last_name }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.address }}</td>
                        <td>{{ record.city }}</td>
                        <td>{{ record.state }}</td>
                        <td>{{ record.pincode }}</td>
                        <td>{{ record.created_at }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
    {% else %}
    <div class="d-flex flex-column justify-center align-items-center">
        <h1 class="text-center mb-4">Login</h1>
        <form action="{% url 'home' %}" method="post" class="w-50 text-center">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>
</main>
{% endif %}
{% endblock %}